POSTGRES_USER=limeai
POSTGRES_PASSWORD=limeai
POSTGRES_DB=limeai
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
VITE_API_URL=http://localhost:3000
OPENAI_API_KEY=sk-...
STORAGE_TYPE=local # s3 or local

# Only required if STORAGE_TYPE=local
UPLOADS_URL=http://localhost:8080

# Only required if STORAGE_TYPE=s3
AWS_ACCESS_KEY=...
AWS_SECRET_KEY=...
AWS_BUCKET=...
AWS_REGION=us-east-1